apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: banking-app
spec:
  project: default
  source:
    repoURL: https://github.com/suraj222803/banking-project
    targetRevision: main
    path: helm/banking-app
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
